
.client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remove default padding as container has padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px; /* Adjust as needed */
  }
  .form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px 10px;
}
.form-group label {
    font-weight: bold; /* Example for labels */

  }
  .form-group {
    display: grid;
  grid-template-columns: auto 1fr; /* Define columns for label and input */
  align-items: center; /* Align vertically on the baseline */
  gap: 0.5rem; /* Add some spacing between label and input */
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  }
  .page-container {
    position: relative; /* Make container a positioning context */
  }
  

  .container {
    background-color: rgb(217, 208, 226);
    border-radius: 25px;
    width: 25%; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    padding: 2rem; /* Add some padding for visual appeal */
    display: flex; /* Enable flexbox for layout */
    flex-direction: column; /* Align elements vertically */
    align-items: center; /* Center elements horizontally */
    justify-content: space-between; /* 
  }
  .btn-primary {
    /* Customize button styles as desired */
  }
  .btn-primary {
    background-color: #3498db; /* Example blue color */
    color: #fff; /* White text */
    border: 1px solid #2980b9; /* Slightly darker blue border */
    border-radius: 5px;
    padding: 10px 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  
    text-align: center; /* Subtle text shadow */
    transition: all 0.2s ease-in-out; 
/* Horizontally center elements within */
    /* Smooth hover effect */
  }
  
  .btn-primary:hover {
    background-color: #2980b9; /* Darker blue on hover */
    cursor: pointer;
  }